<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head') %>
  <body>
    <%- include('../partials/header') %>
    <h1>Weather App</h1>

    <div class="container" id="local-weather">
      <div class="row">
        <div class="col-3"><%= weather.type %></div>
        <div class="col-3"><%= weather.description %></div>
        <div class="col-3"><%= weather.temp %></div>
        <div class="col-3"><%= weather.pressure %></div>
      </div>
    </div>
    <img src="<%= weather.icon %> " />
    <%- include('../partials/scripts') %>
  </body>
  <%- include('../partials/footer') %>
</html>
